*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* share style */
.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;

}

.hide{
    display: none;
}

.color-1{
    color: #FD6E0A;
}

.btn{
    padding: 18px 35px;
    font-weight: bold;
    font-size: 20px;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    background-color: #FD6E0A;
    cursor: pointer;
}

.about-details{
    max-width: 825px;
    text-align: center;
    margin: 0 auto;
}

.about-details h1{
    font-size: 35px;
    margin-bottom: 30px;
    text-align: center;
}

.about-details p{
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 30px;
    color: #757575;
    text-align: center;
}

/* main style */

header{
    background-color: #FFF8F3;
    background: url("../images/developer.png"),url("../images/header_bg.png"),#FFF8F3;
    background-repeat: no-repeat;
    background-position: 38px 35px,bottom right;
    padding-top: 50px;
}

nav{
    width: 71%;
    max-width: 1140px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.logo h2{
    font-weight: 900;
    font-size: 45px;
}

nav .menu{
    display: flex;
    list-style-type: none;
    gap: 31px;
    align-items: center;
}



nav .menu a{
    font-size: 20px;
    text-decoration: none;
    color:#474747;

}

#banner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 38px 0 230px;
}

#banner .banner-content{
    max-width: 585px;
}

#banner .banner-content h2{
    font-size: 45px;
    font-weight: 600;
    color: #474747;
    margin: 0 0 5px;
}

#banner .banner-content h3{
    font-size: 85px;
    font-weight: bold;
    margin-bottom: 20px;
}

#banner .banner-content p{
    font-size: 18px;
    line-height: 30px;
    color: #757575;
    margin-bottom: 30px;
}

#banner .banner-image img {
    max-width: 585px;
    vertical-align: middle;
    
}


#about{
    padding-top: 130px;
}


#about .about-container{ 
    width: 71%;
    max-width: 1140px;
    margin: 0px auto ;
    background-color: #FFF8F3;
    text-align: center;
    border-radius: 10px;
    padding: 131px 156px;
}

#about .about-container .info{ 
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.info .about-info p{
    font-size: 20px;
    line-height: 30px;
    color: #757575;
}

.info .about-info h4{
    font-size: 20px;
}

#skill{
    padding-top: 130px;

}

#skill .container{
    width: 71%;
    max-width: 1140px;
    margin: 0px auto;
    
}
#skill .container .skill-box {
    display: flex;
    gap: 24px;
}

.skill-box .skills{
    max-width: 267px;
    padding: 30px;
    box-shadow: 0 6px 50px 0 #00000027 ;
    border-radius: 5px;
}


.skills img{
    max-width: 44px;
    margin-bottom: 30px;
}

.skills h3{
    font-size: 20px;
    color: #181818;
    margin-bottom: 30px;
    
}

.skills p{
    font-size: 16px;
    line-height: 28px;
    color: #757575;
}

#resume{
    padding-top: 130px ;
}

#resume .section-header h2{
    text-align: center;
    font-size: 35px;
    color: #181818;
}

#resume .resume-container{
    width: 71%;
    max-width: 1140px;
    margin: 113px auto 0px;
    display: flex;
    gap: 24px;
}

.resume-container hr{
    margin: 30px 0px;
}

.education .resume-title{
    font-size: 30px;
    color: #474747;
    margin-bottom: 30px;
}

.resume-details .card-title{
    font-size: 25px;
    color: #474747;
    margin-bottom: 10px;
}

.resume-details .card-info{
    font-size: 20px;
    font-weight: 600;
    color: #757575;
    margin-bottom: 20px;
}
.resume-details .card-text{
    font-size: 16px;
    line-height: 28px;
    color: #757575;
    margin-right: 71px;
}

.bt{
    text-align: center;
    margin-top: 50px;
}

footer{
   margin-top:113px ;
   background-color: #FFF8F3;
   padding: 130px 0;
}

footer .footer-container{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    gap: 117px;
    
}

.footer-container .social{
    max-width: 562px;
}
.footer-container .social h2{
    font-size: 35px;
    color: #181818;
    margin-bottom: 20px;
}

.footer-container .social p{
    font-size: 16px;
    line-height: 28px;
    color:#474747;
    margin-bottom: 30px;
}

.links a {
    margin-right: 24px;
}

.footer-container .form h2{
    font-size: 35px;
    color: #181818;
    margin-bottom: 28px;
}

.footer-container form input[type="text"],.footer-container form textarea{
    width: 461px;
    padding: 18px 30px;
    margin-bottom: 24px;
    border: none;
    border-radius: 5px; 
    color: #757575;
    font-size: 16px;
}


@media  screen and (max-width: 576px) {
    
    nav{
        flex-direction: column;
        gap: 20px;
        width: 100%;
    }

    #banner{
        flex-direction: column;
        margin: 20px;
    }
    #banner .banner-content{
        width: 100%;
    }
    #banner .banner-content h3{
        font-size: 45px;
    }

    #banner .banner-image img{
        width: 100%;
    }

    #about .about-container{
        width: 100%;
        padding: 20px;
    }
    #about .about-container .info{
        flex-direction: column ;
        gap: 20px;
    }

    #skill{
        padding-top: 60px
    }
    #skill .container{
        width: 100%;
    }
    #skill .container .skill-box{
        flex-direction: column;
        width: 100%;
    }

    .skill-box .skills {
       max-width: 100%;
    }

    #resume .resume-container{
        flex-direction: column;
        margin-top: 60px;
    }

    #resume .resume-container{
        width: 100%;
    }

    footer .footer-container{
        flex-direction: column;
    }

    .footer-container form input[type="text"], .footer-container form textarea{
        width: 100%;
    }
}